:root {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

html {
    background-color: rgb(223, 211, 211);
}

button {
    cursor: pointer;
}

input[type=radio], input[type=checkbox] {
    cursor: pointer;
}

.grid {
    display: grid;
    grid-template-rows: 200px 50px auto;
    grid-template-columns: 100%;
    /* grid-template-columns: min(1500px, 100%); */
    justify-content: center;
    min-height: 100vh;
}

/* add modal-open class to grid using js when add book button selected */
.grid.modal-open {
    filter: blur(3px) grayscale(20%);
}

/* Header items */
header {
    grid-row: 1 / 2;
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: bisque;
    /* box-shadow: -4px 5px 5px gray; */
    display: flex;
    align-items: center;
    gap: 15px;
}

#logo {
    width: 150px;
    margin-left: 25px;
}

header h1 {
    font-size: 2.5rem;
    position: relative;
    bottom: 8px
}

header .library-log {
    margin: 0 25px 0 auto;
    border: 2px solid black;
    padding: 10px 20px;
}

.library-log div {
    font-size: 1.8rem;
}

.library-log li {
    font-size: 1.1rem;
}

/* nav items */
.nav {
    grid-row: 2 / 3;
    z-index: 0;
    background-color: rgb(219, 214, 194);
    position: sticky;
    top: 200px;
    box-shadow: 0px 5px 5px gray;
    display: flex;
    align-items: center;
    gap: 15px;
}

#addBook {
    font-size: 2rem;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 30px 
}

.nav span {
    font-size: 1.5rem;
}

/* cards items */
#book-cards {
    grid-row: 3 / 4;
    background-color: rgb(235, 233, 233);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 350px));
    gap: 30px;
    padding: 30px;
}

.card {
    border: 1px solid black;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    width: 350px;
    height: 300px;
    box-shadow: 2px 5px 5px gray;
    
}

.card .title {
    font-size: 1.6rem;

}
.card div {
    font-size: 1.2rem;
}

.delete-entry {
    position: relative;
    width: fit-content;
    height: fit-content;
    font-size: 1.3rem;
    width: 20px;
    left: 12px;
    bottom: 10px;
    border: none;
    margin-left: auto;
    margin-bottom: -40px;
    background-color: rgb(235, 233, 233);
}

/* modal content */
.modal {
    display: none;
    position: fixed;    
    z-index: 5;
    /* center modal on screen: top, left, transform */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: fit-content;
    width: fit-content;
    background-color: white;
    padding: 10px 50px 40px 50px;
    border: 2px solid black;
}

.modal.modal-open {
    display: block;
}

.modal-content {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
}

.modal-header {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.close-modal {
    border: none;
    background-color: white;
    width: fit-content;
    height: fit-content;
    font-size: 1.5rem;
    align-self: flex-end;
    position: relative;
    left: 30px;
}

.modal-content form {
    display: flex;
    flex-direction: column;
}

input {
    line-height: 2rem;
    font-size: 1.2rem;
    margin: 9px 0 20px 1px;
}

.modal-radio div {
    margin-bottom: -10px;
}

.modal-buttons {
    margin: 10px 5px 0 5px;
    display: flex;
    justify-content: space-between;
}

.modal-buttons button {
    font-size: 1.3rem;
    height: fit-content;
    width: 100px;
    padding: 5px 0;
}